<h3><%=reflection.quote.content%></h3>
<p><%=reflection.content%></p>

<form method="POST" action="/reflect/edit/<%=reflection.id%>/?_method=PUT">
    <label for="content">Edit Reflection:</label>
    <input type="text" id="content" name="content" value="<%=reflection.content%>" required>
    <button type="submit">submit</button>
</form>