<div style="display: flex;
justify-content: center;
align-items: center;">
<div class="boxy">
    <div style="margin:5vw">
        <h1>About WNFB</h1>
        <hr>
    <p>Words have the power to create or break a person's reality. Words Not From Buddha is inspired by moments of clarity that I've experienced through reading meaningful words strung together. This online application will generate random quotes from <a target="_blank" href="https://zenquotes.io/" target="_blank">ZenQuotes API</a> (often related to inspiration, motivation, or life truths) in order to stimulate the user's ability to meditate, reflect or create intentions. Users that sign up will also receive a <strong style="font-style: italic;">FREE</strong> daily horoscope through <a target="_blank" href="https://aztro.readthedocs.io/en/latest/#">Aztro API</a>.</p> 
    <p>My goal is to create a virtual space for users to just "Zen-Out"!</p>
    <p>Special thanks to my dear friend, 
        <a target="_blank" href="https://www.instagram.com/manongmedicine/?hl=en">Sean Agcaoili</a>.
    </p>
    <p>This web application is a tribute to our friendship and the moments where we would light incense, meditate and reflect on our lives.</p>
</div>
</div>
</div>
