<div class="boxy"><p>Words have the power to create or break a person's reality. Words Not From Buddha is inspired by moments of clarity that I've experienced through reading meaningful words strung together. This online application will generate random quotes from ZenQuotes API (often related to inspiration, motivation, or life truths) in order to stimulate the user's ability to meditate, reflect or create intentions.</p> 
    <p>My goal is to create a virtual space for users to just "ZEN-OUT".</p>
    <p>Special thanks my dear friend, 
        <a target="_blank" href="https://www.instagram.com/manongmedicine/?hl=en">Sean Agcaoili</a>.
    </p>
    <p>This web application is a tribute to our friendship and the moments where we would light incense, meditate and reflect on our lives.</p>
</div>