<div style="display: flex;
justify-content: center;
align-items: center;">
<h2 style=" width:65vw">"Sometimes you need to be alone. Not to be lonely, but to enjoy time just being yourself."</h2>
</div>
<a target="_blank" href="https://www.instagram.com/luckyducktc/" style="text-decoration:none;">-@LUCKYDUCKTC</a>


<!-- <div class="row">
<div class="col">
    <a href="/users/meditate">Meditate</a>
</div>
<div class="col">
    <a href="/users/reflect">Reflect</a>
</div>
<div class="col">
    <a href="/users/intention">Intention</a>
</div>
</div> -->
<div>
<img id="homepage" src="https://images.unsplash.com/photo-1551690935-a9e6f0a7e788?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80" height="500px" width="auto"/>
</div>
<p>Need some inspirational tunes? Check out my Spotify <a target="_blank" href="https://open.spotify.com/playlist/1Wx4B0fNOCI1vfaT4z1R7Z?si=96fc9b04ad484cbb">INVICTUS MANEO</a> playlist!</p>