<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Words Not From Buddha</title>
</head>
<body>
    <nav>
        <ul>
            <!-- if the user is logged in.. -->
            <% if (user) { %>
                <li>
                    <a href="/users/profile">Profile</a>
                </li>
                <li>
                    <a href="/users/logout">Logout</a>
                </li>
                <li>
                    <a href="/">Homepage</a>
                </li>
                <li>
                    <a href="/users/meditate">Meditate</a>
                </li>
                <li>
                    <a href="/users/reflect">Reflect</a>
                </li>
                <li>
                    <a href="/users/intention">Intention</a>
                </li>
            <% } else { %>
                <li>
                    <a href="/users/new">Sign Up</a>
                </li>
                <li>
                    <a href="/users/login">Login</a>
                </li>
            <% } %>
            
            
        </ul>
    </nav>
    <h1>Words Not From Buddha</h1>
    
    <%- body %>
    <footer>
        <p>Inspirational quotes provided by</p>
        <a href="https://zenquotes.io/" target="_blank">ZenQuotes API</a>
    </footer>
</body>
</html>