<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Words Not From Buddha</title>
    <link rel="stylesheet" href="../public/style.css"/>
    <link rel="stylesheet" href="../users/public/style.css"/>
    <link rel="stylesheet" href="../../users/public/style.css"/>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous"/>
    <link href="https://fonts.googleapis.com/css2?family=Old+Standard+TT&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="../users/users/public/functions.js" defer></script>
</head>
<body id="background">
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">WNFB</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <% if (user) { %>
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="/users/profile">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/users/logout">Logout</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Zen Out
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/users/meditate">Meditate</a></li>
                  <li><a class="dropdown-item" href="/users/reflect">Reflect</a></li>
                  <li><a class="dropdown-item" href="/users/intention">Intention</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/about">About WNFB</a>
              </li>
            </ul>
            <% } else { %>
                
                <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/users/new">Signup</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/users/login">Login</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/about">About WNFB</a>
                  </li>
                </ul>
                <% } %>
          </div>
        </div>
      </nav>
    <div id="center">
        <img id="header" src="/public/media/WNFB.png"/>
    <%- body %>
    </div>
    <footer>
        <p>Inspirational quotes provided by</p>
        <a target="_blank" href="https://zenquotes.io/" target="_blank">ZenQuotes API</a>
    </footer>
</body>
</html>