#center {
    text-align: center;
    justify-content: center;
    font-family: 'Courgette', cursive;


}

#background {
    background-image: url("https://cdn.pixabay.com/photo/2016/10/19/03/32/duck-1752065_960_720.jpg");
    background-repeat: none;
    background-size: cover;
}

#header {
    height: 300px;
    width: auto;
    margin: none;
}

.boxy {
    width: 50vw;
    height: 50vh;
    text-align: center;
    margin-left: 25vw;
}

#homepage {
    border-radius: 50px;
}

:any-link {
    text-decoration: none;
    color: white;
}
:any-link:hover {
    color:black
}

#profile {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}