<h1>⚡️ INTENTION ⚡️</h1>
<p>- Click on a quote to manifest it on a virtual vision board -</p>
<% quotes.forEach(quote=> {%>
    <br>
    <h3><a style="color:rgb(255, 255, 255)" href="/users/intention/<%=quote.id%>">"<%=quote.content%>"</a></h3>
    <br>
    <hr>
<%})%>