<h1>LIST OF QUOTES</h1>
<% quotes.forEach(quote=> {%>
    <a href="/users/intention/<%=quote.id%>"><%=quote.content%></a>
    <p><%=quote.author%></p>
<%})%>
<a href="/users/intention/:id">Link to visual board</a>