<div id="center">
<h1>INTENTION</h1>
<div style="display: flex;
justify-content: center;
align-items: center;">

<div style="width: 100vw;
height: 100vh;
text-align: top;
background-image: url(https://c.tenor.com/9v4mLVpu4F0AAAAd/hand-der-fatima-fatima.gif);
background-repeat: none;
background-size:cover;
padding: 25px;
display: flex;
justify-content: center;
align-items:baseline;">
<h1 style="color:rgb(0, 0, 0)">"<%=aQuote.content%>"</h1>
</div>
</div>
</div>
