<div id="center">
<h1>🔮 VIRTUAL VISION BOARD 🔮</h1>
<br>
<div style="display: flex;
justify-content: center;
align-items: center;">

<div style="width: 100vw;
height: 110vh;
text-align: top;
background-image: url(https://media1.giphy.com/media/3ohs4ucXR6NYRxmpTa/giphy.gif?cid=ecf05e47pz3thqvidy61p9w95nlrhq7skeu5axt77aleogy7&rid=giphy.gif&ct=g);
background-repeat: none;
background-size:cover;
background-position: center;
padding: 25px;
display: flex;
justify-content: center;
align-items:center;">
<h1 style="color:rgb(255, 255, 255)">"<%=aQuote.content%>"</h1>
</div>
</div>
</div>
<a class="btn btn-secondary">Return to Intention</a>
