<br>
<br>
<br>
<br>
<% if (message) { %>
    <p><%= message %></p>
<% } %>
<form action="/users/login" method="POST">
    <label for="email">Email</label>
    <input class="border-dark" id="email" type="email" name="email" required>
    
    <label for="password">Password:</label>
    <input class="border-dark" id="password" type="password" name="password" required>
    <br>
    <br>
    <button class="btn btn-dark" type="submit">Log In</button>
</form>
<br>
<a class="btn btn-dark" href="/users/new">Are you a new user? Sign up!</a>