<h2>Welcome to your profile, <%= user.username %>!</h2>
<div id="box">
<p>Thank you for joining the WNFB Family. Take the time to just "ZEN OUT". ZENing OUT is a spiritual practice where you tune into yourself as opposed to the outside world. <a href="/users/meditate">Meditate</a> on quotes that resonate with you. <a href="/users/reflect">Reflect</a> on the quotes you saved. Create an <a href="/users/intention">Intention</a> on a virtual vision board.</p>
</div>